name: Notify Crew Deploy

on:
  push:
    tags: ["v*"]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.WEBSITE_DISPATCH_TOKEN }}
          repository: liuxiaotong/knowlyr-crew
          event-type: knowlyr-agent-released
